# Ignore / except .gitignore and composer.*
/*
!/.gitignore
!/composer.*
!/wp-content/
/wp-content/*

# Version-controlled plugins
!/wp-content/mu-plugins/
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/.gitkeep

# Version-controlled themes
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/.gitkeep
